.new .navbar-toggler .icon,
.new .navbar-toggler .icon::after,
.new .navbar-toggler .icon::before {
    background-color: #E1F66B;
}

.white-vertion .page-item.active .page-link {
    color: #E1F66B;
}

.dark-vertion .page-item.active .page-link {
    color: #E1F66B;
}

.mh-header .navbar-nav li a:hover {
    color: #E1F66B;
}

.mh-home-2 .mh-header-info ul.mh-home-contact li:hover .fa {
    color: #E1F66B;
}

.mh-home .mh-header-info .mh-promo span {
    background-color: #E1F66B;
}

.mh-home .mh-header-info ul li:hover .fa {
    color: #E1F66B;
}

.mh-about-tag ul li span {
    border: 1px solid #E1F66B;
}

.mh-about-tag ul li span:hover {
    background-color: #E1F66B;
}

.mh-progress path:nth-child(2) {
    stroke: #E1F66B;
}

.candidatos .parcial .percentagem {
    background: #E1F66B;
}

.mh-experince .mh-education-deatils .mh-education-item .mh-eduyear {
    color: #E1F66B;
}

.mh-work .mh-experience-deatils .mh-work-item .mh-eduyear {
    color: #E1F66B;
}

.portfolio-nav ul li:hover {
    color: #E1F66B;
}

.portfolio-nav ul li.active {
    color: #E1F66B;
}

.mh-pricing .mh-pricing:hover .btn {
    background-color: #14777b;
}

.mh-pricing .mh-pricing .fa {
    color: #5edfe4;
}

.mh-pricing .mh-pricing h5 {
    color: #E1F66B;
}

.mh-blog .mh-blog-item .blog-inner a {
    color: #E1F66B;
}

.mh-blog .mh-blog-item h2 {
    color: #E1F66B;
}

.mh-blog .mh-blog-item h2 a {
    color: #E1F66B;
}

.mh-blog .mh-blog-item h2 a:hover {
    color: #178488;
}

.mh-testimonial .mh-client-item img {
    border: 5px solid #E1F66B;
}

.mh-testimonial .owl-controls .owl-dots .owl-dot {
    border: 1px solid #E1F66B;
}

.mh-testimonial .owl-controls .owl-dots .owl-dot.active {
    background-color: #E1F66B;
}

.mh-footer-address .mh-address-footer-item .each-icon .fa {
    border-color: #E1F66B;
}

.old .navbar-collapse {
    background-color: #E1F66B;
}

.old .navbar-header .navbar-toggler .icon-bar {
    background-color: #E1F66B;
}

.old .navbar-collapse {
    background-color: #E1F66B;
}

.new .navbar-collapse {
    background-color: #E1F66B;
}

.new .navbar-header .navbar-toggler .icon-bar {
    background-color: #E1F66B;
}

.new .navbar-collapse {
    background-color: #E1F66B;
}

.portfolio-nav ul li.current span {
    border-bottom: 2px solid #E1F66B;
}

.mh-project-gallery .grid-item figure:hover figcaption {
    background: rgba(24, 140, 145, 0.9);
}

.mh-featured-project .mh-featured-item .mh-featured-project-content .project-category {
    color: #E1F66B;
}

.mh-single-project-slide .owl-controls .owl-dots .owl-dot {
    border: 1px solid #E1F66B;
}

.mh-single-project-slide .owl-controls .owl-dots .owl-dot.active {
    background-color: #E1F66B;
}

.mh-service .mh-service-item a {
    color: #E1F66B;
}

.mh-pagination .page-link:hover {
    color: #E1F66B;
}

.mh-author-info .social-icon li a:hover {
    color: #E1F66B;
}

.mh-blog-category ul li a:hover {
    color: #E1F66B;
}

.mh-experince .mh-education-deatils .mh-education-item h4 a {
    color: #E1F66B;
}

.mh-work .mh-experience-deatils .mh-work-item h4 a {
    color: #E1F66B;
}

.mh-blog-next-prev-post a {
    color: #E1F66B;
}

.comment-deatils span {
    color: #E1F66B;
}

.btn.btn-fill {
    background-color: #E1F66B;
}

.mh-pricing .mh-pricing .fa {
    color: #E1F66B;
}


/*# sourceMappingURL=yellow.css.map */